---
import Faceverification from "../components/faceverification.astro";
import Login from "../components/login.astro";
import Presensi from "../components/presensi.astro";
import Resume from "../components/resume.astro";
import Riwayat from "../components/riwayat.astro";

console.log("tes");
const apiUrl = import.meta.env.PUBLIC_API_URL;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <Login />
        <hr>
        <Resume />
        <hr>
        <Riwayat />
        <hr>
        <Faceverification />
        <hr>
        <Presensi />
    </body>
</html>
