<div>
    <form action="" method="post">
        <input type="text" name="username"> <br>
        <input type="text" name="password"> <br>
        <input type="text" name="totp"> <br> <br>
        <input type="button" value="Masuk">
    </form>
</div>

<script>
    
</script>